*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: auto;
    background-color: #0f172a;
    padding-bottom: 1rem;
   
}
/* nav */
.navbar-brand h4{
  color: #00a2f7;
}
.navbar-nav a{
  font-weight: 600;
  color: white;
  transition: .2s ease-in-out;
  margin-right: 2.5rem;
}
.navbar-nav a:hover{
  color: #00a2f7;
}
.navbar-nav{
  padding-right: 5rem;
}
.wrap_navbar{
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
background-color: #0f172a;

z-index: 99999;

 border-bottom: 1px solid #00a1f756;

}
.navbar-brand{
  padding-left: 3rem;
}

/* end nav */
.pembungkus{
    padding-top: 4rem;
    display: flex;
    align-items: center;
}
.nama h1{
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
}
.asal h3{
color: #00a2f7;
padding-bottom: 1rem;
}
.deskripsi p{
    color: white;
    font-weight: 300;
    padding-bottom: 1.5rem;
}
.tombol a{
    text-decoration: none;
    color: #00a2f7;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #00a2f7;
    font-weight: 700;
    transition: .2s ease-in-out;
    border-radius: 20px;
    
}

.tombol a:hover {
    background-color: #00a2f7;
    color: #0f172a;
   
}
.section{
    padding-bottom: 3rem;
}
.tombol-sosmed a{
    padding: 1rem 1.5rem;
    color: #00a2f7;
    background-color: transparent;
    border: 1px solid #00a2f7;
    border-radius: 50px;
    margin-right: 1.5rem;
    transition: .2s ease-in-out;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tombol-sosmed a:hover{
    background-color: #00a2f7;
    color: #0f172a;
}

.pembungkus-tombol{
    display: flex;
    align-items: center;
}

.btn_link{
    padding-right: 1.5rem;
}

/* halaman2 */
.tentang{
  background-color: #0f172a;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.judul h3{
  color: #00a2f7;
  font-weight: 500;
}
.judul-deskripsi p{
  color: white;
  font-size: 13px;
  padding-bottom: 5rem;
}
.pembungkus-tabel{
  display: flex;
  align-items: center;
  padding: 2rem ;
  border: 1px solid #00a2f7;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.pembungkus-tabel:hover{
  background-color: #0c2f4b;
  transform: scale(1.1);
}
/* tabel 1 */
.tabel h5{
  color: white;
}
.tabel p{
  color: #6584c9;
}
/* halaman 3 */
.galeri{
  background-color: #0f172a;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.gambar-kartu img{
  width: 200px;

}

.pembungkus-kartu{
  background-color: #04121d;
  padding: 1.5rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .2s ease-in-out;
cursor: pointer;
border-radius: 10px;
}
.pembungkus-kartu:hover{
  background-color: #0c2f4b;
  transform: translateY(-10px);
  
}
.deskripsi-kartu{
  font-size: 10px;
  padding-bottom: 1rem;
}
.gambar-kartu{
  padding-bottom: 1.5rem;
}
.gambar-kartu img{
  height: 150px;
}
.tombol-kartu a{
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 20px;
  background: transparent;
  color: white;
  transition: .2s ease-in-out;
  border: 1px solid #00a2f7;
}
.tombol-kartu a:hover{
  background-color: #00a2f7;
}
/* end halaman 3 */
/* halaman4 */
.video{
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  background-color: #0f172a;
}
.kartu-video{
  padding: 1.5rem;
  background: transparent;
  border-radius: 15px;
  border: 1px solid #00a2f7;
  color: white;
  transition: .2s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}
.kartu-video:hover{
  background-color: #0c2f4b;
  transform: translateY(-10px);
}
.des_kartu_halaman4 p{
  font-size: 13px;
  padding-bottom: 1.3rem;
}
.tombol-kartu-video a{
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  border: 1px solid #00a2f7;
  border-radius: 20px;
  transition: .2s ease-in-out;
}
.tombol-kartu-video a:hover{
  background-color: #00a2f7;
}
/* end halaman4 */
/* halaman 5 */
.pdf{
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  background-color: #0f172a;
}
.file-pdf object{
  width: 100%;
  height: 400px;
}
.card-pdf{
  padding: 1.5rem;
  border: 1px solid #00a2f7;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.judul-pdf{
  text-align: center;
}
.judul-pdf h3{
color: white;
}
/* end halaman 5 */
/* halaman 6 */
.footer{
  width: 100%;
  height: 30vh;
  background-color: #04121d;
}
.judul-footer h5{
color: white;
}
.pembungkus-footer{
  text-align: center;
  padding: 2rem;
}
.garis-footer{
  margin: 0 auto;
  height: 1px;
  width: 60px;
  border: 1px solid #00a2f7;
}
.pembungkus-tombol-sosmet{
  width: 50%;
  display: flex;
  margin: auto;
  text-align: center;
}
.pembungkus-link{
display: flex;
margin: auto;
align-items: center;
}
/* end halaman 6 */
/* responsif */
@media (max-width:952px){
  .nama h1{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.pembungkus-tombol-sosmet{
  width: 100%;
  display: flex;
  margin: auto;
  text-align: center;
}
/* halaman 2 */
.tabel p{
font-size: 11px;
}

}