*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
<<<<<<< HEAD
body{
  overflow-x: hidden;
}
.halaman1{
=======
.header{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
    width: 100%;
    height: auto;
    background-color: #0f172a;
    padding-bottom: 1rem;
<<<<<<< HEAD
=======
   
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
}
/* nav */
.navbar-brand h4{
  color: #00a2f7;
}
.navbar-nav a{
<<<<<<< HEAD
  font-weight: 300;
  color: white;
  font-size: 14px;
  transition: .2s ease-in-out;
  margin-right: 2rem;
=======
  font-weight: 600;
  color: white;
  transition: .2s ease-in-out;
  margin-right: 2.5rem;
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
}
.navbar-nav a:hover{
  color: #00a2f7;
}
.navbar-nav{
<<<<<<< HEAD
  padding-right: 0;
}
/* end nav */
.wrap_section{
    padding-top: 2rem;
    display: flex;
    align-items: center;
}
.name h1{
=======
  padding-right: 5rem;
}
.wrap_navbar{
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
background-color: #0f172a;

z-index: 99999;

 border-bottom: 1px solid #00a1f756;

}
.navbar-brand{
  padding-left: 3rem;
}

/* end nav */
.pembungkus{
    padding-top: 4rem;
    display: flex;
    align-items: center;
}
.nama h1{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
}
.asal h3{
color: #00a2f7;
padding-bottom: 1rem;
}
<<<<<<< HEAD
.des p{
=======
.deskripsi p{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
    color: white;
    font-weight: 300;
    padding-bottom: 1.5rem;
}
.tombol a{
    text-decoration: none;
    color: #00a2f7;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #00a2f7;
    font-weight: 700;
    transition: .2s ease-in-out;
    border-radius: 20px;
    
}
<<<<<<< HEAD
.wrap_btn{
    padding-bottom: 4rem;
}
=======

>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
.tombol a:hover {
    background-color: #00a2f7;
    color: #0f172a;
   
}
.section{
    padding-bottom: 3rem;
}
<<<<<<< HEAD
.btn_link_1 a{
=======
.tombol-sosmed a{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
    padding: 1rem 1.5rem;
    color: #00a2f7;
    background-color: transparent;
    border: 1px solid #00a2f7;
    border-radius: 50px;
    margin-right: 1.5rem;
    transition: .2s ease-in-out;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
<<<<<<< HEAD
.btn_link_2 a{
    margin-right: 1.5rem;
    padding: 1.1rem 1.5rem;
    color: #00a2f7;
    transition: .2s ease-in-out;
    background-color: transparent;
    border: 1px solid #00a2f7;
    border-radius: 50px;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn_link_3 a{
    padding: 1.1rem 1.6rem;
    color: #00a2f7;
    transition: .2s ease-in-out;
    background-color: transparent;
    border: 1px solid #00a2f7;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn_link_1 a:hover{
    background-color: #00a2f7;
    color: #0f172a;
}
.btn_link_2 a:hover{
    background-color: #00a2f7;
    color: #0f172a;
}
.btn_link_3 a:hover{
    background-color: #00a2f7;
    color: #0f172a;
}
.wrap_btn_link{
    display: flex;
    align-items: center;
    
}
.btn_link{
    padding-right: 1.5rem;
}

/* halaman2 */
.halaman2{
=======
.tombol-sosmed a:hover{
    background-color: #00a2f7;
    color: #0f172a;
}

.pembungkus-tombol{
    display: flex;
    align-items: center;
}



/* halaman2 */
.tentang{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  background-color: #0f172a;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
<<<<<<< HEAD
.judul_halaman2 h3{
  color: #00a2f7;
  font-weight: 500;
}
.des_halaman2_kiri p{
  color: white;
  font-size: 13px;
  padding-bottom: 2rem;
}
.subjudul_halaman2 h4{
  color: white;
  padding-bottom: 1.5rem;

}
.des_halaman2_kanan p{
  color: white;
  padding-bottom: rem;
  font-weight: 300;
}
.wrap_tabel{
=======
.judul h3{
  color: #00a2f7;
  font-weight: 500;
}
.judul-deskripsi p{
  color: white;
  font-size: 13px;
  padding-bottom: 5rem;
}
.pembungkus-tabel{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  display: flex;
  align-items: center;
  padding: 2rem ;
  border: 1px solid #00a2f7;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .2s ease-in-out;
  cursor: pointer;
}
<<<<<<< HEAD
.wrap_tabel:hover{
=======
.pembungkus-tabel:hover{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  background-color: #0c2f4b;
  transform: scale(1.1);
}
/* tabel 1 */
<<<<<<< HEAD
.tabel_name h5{
  color: white;
}
.tabel_name p{
  color: #6584c9;
}
.tabel_email h5{
  color: white;
}
.tabel_phone p{
  color: #6584c9;
}
.tabel_phone h5{
  color: white;
}
.tabel_email p{
  color: #6584c9;
}
/* tabel 2 */
.tabel_status h5{
  color: white;
}
.tabel_status p{
  color: #6584c9;
}
.tabel_jeniskelamin h5{
  color: white;
}
.tabel_jeniskelamin p{
  color: #6584c9;
}
.tabel_umur h5{
  color: white;
}
.tabel_umur p{
  color: #6584c9;
}
/* halaman 3 */
.halaman3{
=======
.tabel h5{
  color: white;
}
.tabel p{
  color: #6584c9;
}
/* halaman 3 */
.galeri{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  background-color: #0f172a;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
<<<<<<< HEAD
.halaman-skil{
  background-color: #0f172a;
  width: 100%;
  height: auto;

}
.wrap-edu{
  padding: 0.5rem;
  box-shadow: rgba(58, 45, 233, 0.65) 1.95px 1.95px 2.6px;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.wrap-edu:hover{
  background-color: #0c2f4b;
  transform: translateY(-10px); /* Ubah angka ini sesuai kebutuhan */
}
.icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.ssa{
  color: #00a2f7;
}

/* Efek Transformasi saat Hover */
.icon:hover {
  transform: translateY(-50px); /* Ubah angka ini sesuai kebutuhan */
}
.logo {
  box-shadow: rgba(98, 87, 255, 0.35) 0px 5px 15px;
  padding: 0.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Menambahkan transisi untuk efek smooth */
  cursor: pointer;
  text-align: center;
}
.logo img{
  width: 60%;

}

.logo:hover {
  transform: scale(1.1); /* Membuat logo membesar saat dihover */
}

p_kartu{
  padding-bottom: 1.5rem;
}
.kartu1{
=======
.gambar-kartu img{
  width: 200px;

}

.pembungkus-kartu{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  background-color: #04121d;
  padding: 1.5rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .2s ease-in-out;
cursor: pointer;
border-radius: 10px;
}
<<<<<<< HEAD
.kartu1:hover{
=======
.pembungkus-kartu:hover{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  background-color: #0c2f4b;
  transform: translateY(-10px);
  
}
<<<<<<< HEAD
.des_kartu{
  font-size: 10px;
  padding-bottom: 1rem;
}
.judul_kartu h3{
  padding-bottom: 1rem;
}
.gambar_kartu{
  padding-bottom: 1.5rem;
}

.tombol_kartu a{
=======
.deskripsi-kartu{
  font-size: 10px;
  padding-bottom: 1rem;
}
.gambar-kartu{
  padding-bottom: 1.5rem;
}
.gambar-kartu img{
  height: 150px;
}
.tombol-kartu a{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 20px;
  background: transparent;
  color: white;
  transition: .2s ease-in-out;
  border: 1px solid #00a2f7;
}
<<<<<<< HEAD
.tombol_kartu a:hover{
=======
.tombol-kartu a:hover{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  background-color: #00a2f7;
}
/* end halaman 3 */
/* halaman4 */
<<<<<<< HEAD
.halaman4{
=======
.video{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  background-color: #0f172a;
}
<<<<<<< HEAD
.kartu_halaman4{
=======
.kartu-video{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  padding: 1.5rem;
  background: transparent;
  border-radius: 15px;
  border: 1px solid #00a2f7;
  color: white;
  transition: .2s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}
<<<<<<< HEAD
.kartu_halaman4:hover{
  background-color: #0c2f4b;
  transform: translateY(-10px);
}
.des_kartu_halaman4 p{
  font-size: 13px;
  padding-bottom: 1.3rem;
}
.tombol_kartu_halaman4 a{
=======
.kartu-video:hover{
  background-color: #0c2f4b;
  transform: translateY(-10px);
}
.tombol-kartu-video a{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  border: 1px solid #00a2f7;
  border-radius: 20px;
  transition: .2s ease-in-out;
}
<<<<<<< HEAD
.tombol_kartu_halaman4 a:hover{
=======
.tombol-kartu-video a:hover{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  background-color: #00a2f7;
}
/* end halaman4 */
/* halaman 5 */
<<<<<<< HEAD
.halaman5{
  width: 100%;
  padding-top: 10rem;
=======
.pdf{
  width: 100%;
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  height: auto;
  padding-bottom: 2rem;
  background-color: #0f172a;
}
<<<<<<< HEAD
.file_pdf object{
  width: 100%;
  height: 400px;
}
.wrap_card_halaman5{
=======
.file-pdf object{
  width: 100%;
  height: 400px;
}
.card-pdf{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  padding: 1.5rem;
  border: 1px solid #00a2f7;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
<<<<<<< HEAD
.judul_pdf{
  text-align: center;
}
.judul_pdf h3{
=======
.judul-pdf{
  text-align: center;
}
.judul-pdf h3{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
color: white;
}
/* end halaman 5 */
/* halaman 6 */
<<<<<<< HEAD
.halaman6{
=======
.footer{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  width: 100%;
  height: 30vh;
  background-color: #04121d;
}
<<<<<<< HEAD
.judul_halaman6 h5{
color: white;
}
.wrap_halaman6{
  text-align: center;
  padding: 2rem;
}
.garis_halaman6{
=======
.judul-footer h5{
color: white;
}
.pembungkus-footer{
  text-align: center;
  padding: 2rem;
}
.garis-footer{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  margin: 0 auto;
  height: 1px;
  width: 60px;
  border: 1px solid #00a2f7;
}
<<<<<<< HEAD
.wrap_btn_link_halaman6{
=======
.pembungkus-tombol-sosmet{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
  width: 50%;
  display: flex;
  margin: auto;
  text-align: center;
}
<<<<<<< HEAD
.wrap2_link{
=======
.pembungkus-link{
>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
display: flex;
margin: auto;
align-items: center;
}
/* end halaman 6 */
/* responsif */
@media (max-width:952px){
<<<<<<< HEAD
  .name h1{
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
}
=======
  .nama h1{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.pembungkus-tombol-sosmet{
  width: 100%;
  display: flex;
  margin: auto;
  text-align: center;
}
/* halaman 2 */
.tabel p{
font-size: 11px;
}

>>>>>>> 7eaacc04996b802006c72d93aded85c681e55738
}